/* My Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  font-family: "Lato", sans-serif;
}
.lato {
  font-family: "Lato";
  font-weight: 700;
}

/*======================
Button Css Style 
==================*/
.btn {
  background-color: #add8e6;
  border: none;
  color: black;
  border-radius: 5px;
  padding: 8px 20px;
}
.btn:hover {
  background-color: #81c5db;
}
.save-btn {
  background-color: #add8e6;
  border: none;
  color: black;
  border-radius: 5px;
  padding: 4px 10px;
}
.save-btn:hover {
  background-color: #81c5db;
}
/* Button Css Style End */
.input-save-percen {
  border: 0.5px solid #b1b6bb;
  border-radius: 5px;
}
